<!DOCTYPE html>

<html>

<head>

<title>School Bus System Login</title>

<style>

body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
margin-top:150px;
}

input{
padding:10px;
margin:10px;
width:200px;
}

button{
padding:10px 20px;
background:#38bdf8;
border:none;
}

</style>

</head>

<body>

<h1>🚌 Smart School Bus System</h1>

<h3>Admin Login</h3>

<form method="POST">

<input name="user" placeholder="Username">
<br>

<input name="pwd" type="password" placeholder="Password">
<br>

<button>Login</button>

</form>

</body>

</html>
